.dropdown__container {
  display: flex;
  flex-direction: column;
  margin: 4% 2%;
}

.dropdown__container label {
  text-align: left;
  padding-left: 1%;
  font-size: 0.7em;
  color: grey;
}


.dropdown {
  height: 30px;
  border: none;
  border-bottom: 1px solid #eee;
  background: white;
  font-size: 0.9em;
  color: grey;
  margin-top: 2%;
}

.dropdown:hover {
  cursor: pointer;
}

.dropdown:focus {
  outline: none;
}