.input__container {
  display: flex;
  flex-flow: column;
  margin-top: 4%;
  justify-content: flex-start;
  align-content: flex-end;
}

.input__container label {
  text-align: left;
  padding-left: 3%;
  font-size: 0.7em;
  color: grey;
}

.input__container input {
  border: 1px solid white;
  padding: 10px;
  border-bottom: 1px solid #eee;
  margin: 10px;
  /* margin-bottom: 0px; */
  padding-left: 2%;
  border-radius: 10px;
  font-size: 0.9em;
}

.input__container input:focus {
  outline: none;
}