.success {
  background: green;
  color: white;
  text-align: center;
  padding: 0.5%;
  width: 50%;
  margin: 2% auto;
}

.error {
  background: red;
  color: white;
  text-align: center;
  padding: 0.5%;
  width: 50%;
  margin: 2% auto;
}