.App {
  text-align: center;
  margin-top: 5%;
}

.lawpath__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  margin: 2% auto;
}

.lawpath__form input {
  border: 1px solid white;
  padding: 10px;
  border-bottom: 1px solid #eee;
  margin: 10px;
  padding-left: 2%;
  border-radius: 10px;
  font-size: 0.9em;
}

.lawpath__form input:focus {
  outline: none;

}

.lawpath__form button {
  background: #191919;
  color: white;
  width: 200px;
  height: 50px;
  align-self: center;
  font-size: 1em;
  border: none;
  margin: 30px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
}

.lawpath__form button:hover {
  background: #323232;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* input:focus::placeholder {
  opacity: 0;
} */